<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Actitime Regression Suite"> <!--time-out="50000" -->
	<listeners>
		<!--<listener class-name = "util.Transforms"/> -->
		<listener class-name="util.Listeners" />
	</listeners>

	<test name="ChromeTest for non admin user" verbose="1">
		<parameter name="browser" value="chrome" />
		<parameter name="user" value="non admin" />
		<groups>
			<run>
				<include name="Functional" />
				<include name="Sanity" />
				<include name="non admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test>
	<test name="ChromeTest for admin user" verbose="1">
		<parameter name="browser" value="chrome" />
		<parameter name="user" value="admin" />
		<groups>
			<run>
				<include name="Functional" />
				<include name="Sanity" />
				<include name="admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test>
	<test name="FirefoxTest for non admin user">
		<parameter name="browser" value="firefox" />
		<parameter name="user" value="non admin" />
		<groups>
			<run> 
				<include name="Functional" /> 
				<include name="Sanity" />
				<include name="non admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test>

	<test name="FirefoxTest for admin user">
		<parameter name="browser" value="firefox" />
		<parameter name="user" value="admin" />
		<groups>
			<run>
				<include name="Functional" />
				<include name="Sanity" />
				<include name="admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test>
	
	<!-- <test name="IE Test for non admin user" verbose="1">
		<parameter name="browser" value="ie" />
		<parameter name="user" value="non admin" />
		<groups>
			<run>
				<include name="Functional" />
				<include name="Sanity" />
				<include name="non admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test>
	<test name="IE Test for admin user" verbose="1">
		<parameter name="browser" value="ie" />
		<parameter name="user" value="admin" />
		<groups>
			<run>
				<include name="Functional" />
				<include name="Sanity" />
				<include name="admin" />
			</run>
		</groups>
		<classes>
			<class name="testcase.LoginPageTest" />
			<class name="testcase.EnterTimeTrackPageTest" />
		</classes>
	</test> -->
	<!-- Test -->
</suite> <!-- Suite -->
